body{
	margin: 0px;
	padding: 0px;
	width: 100%
	color:black;
	background-image: url("db.jpg");
	width: 100%px;
	height: 600px;
	background-repeat:round;
	background-attachment: fixed;
}
nav{
	
	border:3px solid beige ;
	padding-top: 0px;
	margin-left: 0px;
	width: 100%;
	height: 75px;
	background-image: url("images (1).jpg");


	
}
	



nav .logo a{
	color: black;
	font-weight:800px; 
	font-size: 50px;
	font-family:'code source pro' ,calibri ,serif;
	text-align: center;
}







nav .logo span{
	color: black;
	font-weight:800px; 
	font-size: 50px;
	font-family:'code source pro' ,calibri ,serif;
	text-align: center;

}
nav > ul{
	margin: 20 auto px;
	padding: 0px;
	width: 100%;

}
nav > ul:after{
	content::""
	display:block;
	clear: both;
}
nav > ul >li{
	float: left;
	position: relative;
	align-content: right;
	padding-top: 0px;
	margin-left: 160px;
}
nav > ul > li a{
	padding: 0px 0px;
	color:beige;
}
nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}
nav > li{
	list-style-type: none;
}
.submenu{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}
.submenu li a{
	padding:15px 30px; 
	font-size:13px;
	color:#222538;
	width: 270px;
}
.menu-Décoration:hover{
	border-top: 5px solid black;
	background-color: rgb(228,77,38,0.15);
}
.menu-Gastronomie:hover{
	border-top: 5px solid black;
	background-color: rgb(000,112,192,0.15);
	}
	.menu-Animation:hover{
	border-top: 5px solid black;
	background-color: rgb(241,211,79,0.15);
	}
	.menu-Sécurité:hover{
	border-top: 5px solid black;
	background-color: rgb(220,220,220,0.15);
	}
	.menu-A propos:hover{
	border-top: 5px solid black;
	background-color: rgb(210,210,210,0.15);
}
.menu-Décoration .submenu{
	background-color: rgb(230,100,40);
}
.menu-Gastronomie .submenu{
	background-color: rgb(000,160,240);
}
.menu-Animation .submenu{
	background-color:rgb(250,215,100);
}
.menu-Sécurité .submenu{
	background-color: black;
}
.menu-A propos .submenu{
	background-color: pink;
}
.submenu li:hover a{
	color: #eee;
	font-weight: bold;
}
.menu-Décoration .submenu li:hover{
	background-color: rgb(210,77,60);
}
.menu-Gastronomie .submenu li:hover{
	background-color:rgb(000,115,200);
}
.menu-Animation .submenu li:hover{
	background-color:rgb(200,175,65);
}
.menu-Sécurité .submenu li:hover{
	background-color: gray;
}
.menu-A propos .submenu li:hover{
	background-color: red;
}
.menu-exam:hover{
	border-top: 5px solid black;
	background-color: pink;
}
.home .home-content center{
	font-size: 60px;
	font-weight: 400px;
	color:white;
	text-align: center;
	padding-top: 7%;
	

}
.home .home-content p{
	text-align: left;
	color: black;
	font-weight: 160px;
	font-size: 35px;
	width: 55%;
	text-align: justify-content;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	border:4px solid black;
	border-radius: 10%;
}
.pre{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}
.pre .left p{
	font-weight: 350px;
	font-size: 40px;
	margin-left: 15%;
	color: white;
	text-decoration: underline;
}
.pre .left{
	width: 45%;
	border:2px solid gray;
	font-size: 30px;
	font-weight: 250px;
	background-color: teal;
	color: white;
}
.pre .right{

	text-align:right;
	border:2px solid gray;
	background-color: teal;
	color: white;
}
.pre .right a{
	text-align: center;
}
.pre .right img{
	border-radius: 100%;
	width: 100px;
	height: 55px;
}
.ass{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}
.ass-left{
	width: 45%;
	padding-top:15%;
	text-align:left;
}
.ass-left>ul>li{
	font-size: 25px;
	font-weight: 250px;
	color:white;
}
.ass-left ul{
	font-size: 40px;
	text-decoration: underline black;
	justify-content: space-between;
	font-weight: 350px;
	color:white;
}
.ass-right {
	width: 55%;
	text-align: right;
}
.ass-right img{
	text-align:right;
	height: 500px;
	border-radius: 25%;
	padding-top: 5%;
}
.or{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}
.or-right{
	width: 45%;
	padding-top:15%;
	text-align:left;
}
.or-right>ul>li{
	font-size: 25px;
	font-weight: 250px;
	color:white;
}
.or-right ul{
	font-size: 40px;
	text-decoration: underline black;
	justify-content: space-between;
	font-weight: 350px;
	color:white;
}
.or-left {
	width: 55%;
	text-align: right;
}
.or-left img{
	text-align:right;
	height: 500px;
	border-radius: 25%;
	padding-top: 5%;
}
.d6{
	height: 100%;
	width:100%;
	margin:100px auto;
	box-shadow:15px 10px 15px -5px #777;
	background-color:#ededed;
	background-size:contain;
	animation: fondu 15s ease-in-out infinite both;

}

.conteneur{
	max-width:700px; 
	margin:50px auto;

}
.d6{
	width: 50%;
	height: 100%;
	padding-top: 35%;
	margin: 100px auto;
	box-shadow: 0px 0px 10px #777;
	background-color: #ededed;
	background-size: contain;
	animation: fondu 10s ease-in-out infinite both;
	background-repeat: round;
	border-radius: 15%;
}
@keyframes fondu{
	0%{background-image: url("si.jpg");}
	20%{background-image: url("ba.jpg");}
	25%{background-image: url("hbd.jpg");}
	33.33%{background-image: url("lm.jpg");}
	50%{background-image: url("tbl.jpg");}
	100%{background-image: url("ballon.png");}

}
.d7:hover .d6:hover{
	animation-play-state: paused;
}
.cp center{
font-size: 50px;
	font-weight: 300px;
	color:teal;
	text-align: center;
}
.ff{


	box-shadow: 0px 0px 10px #777;
	
}

img{
     -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -ms-transition: all 0.2s;
     -o-transition: all 0.2s;
     transition: all 0.2s;
}
img:hover{
     transform:rotate3d(0,1,0,180deg);
}